# Data files
data/
nacc_with_summary.csv
nacc_unique_with_summary.csv
investigator_ftldlbd_nacc65.csv
new_nacc_unique_type_3.csv
nacc_unique_with_llama_summaries*/
benchmarks/
data_preparation_old/
other/
old_data/

*.pdf

# Test scripts
*.sh.*
check.ipynb
check.txt
finetune_ddp.py
diagnostic_summary_test.ipynb
mri_qc.ipynb
get_progression_cases.ipynb
llama32_test.ipynb
notebooks/
tables/

# Intermediate folders
wandb/
results/
save_folder/
__pycache__/
*logs*/
# wandb/
results/
figures_all/
# entropies*/
full/
figure4_np_one_lingyi.py
random_test_data.csv
token_counts.csv
*.csv
*.json

# Checkpoint
*ckpt*/
llama3-8b-adrd/
*.pth

# old code
fm_adrd/
bash_scripts/
test.ipynb
phi4.ipynb
example_response.txt
neurology_benchmark_prepare.ipynb
create_grpo_training_data_without_shuffle.ipynb
create_grpo_training_data_to_correct.ipynb
create_grpo_rare_np_testing_data.ipynb
nacc_qc_without_shuffle.ipynb
grpo_config_old.py
grpo_trainer_old.py
correct_ftd.ipynb
old_scripts/
*old*/
process_ppmi_data.ipynb
prepare_ppmi_shreyas.ipynb

# results
results_1/
results_2/
extracted_results/
train_results/
*results*/
np_corrected_1.pdf

# other
verl/
generate_patient_summary_ray.py
check_ray.ipynb
check_tensor.ipynb
run_benchmarks_1.sh
grpo_trainer_with_dynamic_sampling.py
swift_grpo_trainer.py
figure_benchmarks_including_qwen3_macro.py
output_length_standard_benchmarks.py
training_curve_macro_id_level_polars.py
figure_benchmarks.py
figures/
archive/
training_curve_files/
old/
notebooks/

# environments
venv/
venvs/

TODO.txt
changes_made.md
# plots/
tmp.txt

figures/
figures_all/
plots/
check*